*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0%;
    padding: 0%;
    background-image: linear-gradient(rgba(4,9,30,0),rgba(4,9,30,0)),url(healthhub.png);
    background-size: cover;
    position: relative;
}
#sos{
    background-color: red;
    padding:2px;
    position: fixed;
    bottom: 5%;
    right: 5%;
}